lxml
coverage
pytest-coverage
dateutils
scandir
pytest
wand
python-mimeparse
pytest-timeout
git+https://source.csc.fi/scm/git/pas/xml-helpers@develop#egg=xml_helpers
git+https://source.csc.fi/scm/git/pas/mets@develop#egg=mets
git+https://source.csc.fi/scm/git/pas/premis@develop#egg=premis
